/*all*/
.all_button_space{
    text-align: right;
}

.all_button{
    width: auto;
    border: 0;
    outline: 0;
    border-radius: 0.8em;
    padding: 0.5%;
    margin-left: 1%;
    /*text-align: center;*/
    background-color: #AFD485;
    font-size:x-large;
    color: white;
    cursor: pointer;
}

/*Intro*/
.intro_logo{
    margin: auto;
    display: block;
    width:50%;
}

.intro_step{
    display: flex;
    flex-direction: column;
    width:auto;
    margin: 10%;
}

/*My*/
.my_main{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
}
.my_name{
    display: flex;
    flex-direction: row;
  }

.my_text{
    width: auto;
    border: 1 solid #AFD485;
    border-bottom:1 solid #AFD485;
    padding: 0.5%;
    margin-left: 1%;
    /*text-align: center;*/
    color:black;
}
.my_button{
    width: auto;
    outline: 0;
    border: 1px solid #AFD485;
    border-radius: 0.8em;
    padding: 0.5%;
    margin-left: 1%;
    background-color: white;
    color: #AFD485;
    cursor: pointer;
    font-weight:bold;
    font-size:large;
}

.my_reserve{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
  }

.my_date{
    width: auto;
    border: 1 solid #AFD485;
    border-bottom:1 solid #AFD485;
    padding: 0.5%;
    margin-left: 1%;
    /*text-align: center;*/
    color:black;
}

/*reserve*/
.reserve_all{
    border-radius: 1em ;
    border: 1px  solid #4F6228;
    background-color: rgb(254, 254, 254);
    margin-left: 10%;
    margin-right: 10%;
}
.reserve_title{
    text-align: center;
    width: auto;
}

#reserve_return{
    color: #4F6228;
    font-size:x-large;
}

.reserve_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    /*border: 1px solid rebeccapurple;*/
}

.reserve_detailimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: -10%;
    padding-right: -10%;
    /*border: 1px solid red;*/
}

.reserve_dy{
    display: block; margin: 0px auto;
    width: 60%;
    /*border: 1px solid rgb(115, 0, 255);*/
}

/*AuthForm*/
.auth_main{
    display: block; 
    margin: 0% auto;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.auth_form{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: auto;
}

.auth_title{
    color:#4F6044;
    font-size: x-large;
    margin-bottom: 5%;
    font-weight: bold;
}

.auth_text{
    width: 50%;
    /*border: 1 solid #AFD485;
    border-bottom:1 solid #AFD485;*/
    padding: 0.5%;
    margin-left: 1%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #4F6044;
    /*text-align: center;*/
    color:black;
}

.auth_botton{
    width: 50%;
    border: 0;
    outline: 0;
    border-radius: 0.8em;
    padding: 0.5%;
    margin-left: 1%;
    /*text-align: center;*/
    background-color: #AFD485;
    font-size:x-large;
    color: white;
    cursor: pointer;
}