/*all*/
.all_button_space{
    text-align: right;
}

.all_button{
    width: auto;
    border: 0;
    outline: 0;
    border-radius: 0.8em;
    padding: 0.5%;
    margin-left: 1%;
    /*text-align: center;*/
    background-color: #AFD485;
    font-size:x-large;
    color: white;
    cursor: pointer;
}

/*Intro*/
.intro_logo{
    margin: auto;
    display: block;
    width:50%;
}

.intro_step{
    display: flex;
    flex-direction: column;
    width:auto;
    margin: 10%;
}

/*My*/
.my_main{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
}
.my_name{
    display: flex;
    flex-direction: row;
  }

.my_text{
    width: auto;
    border: 1 solid #AFD485;
    border-bottom:1 solid #AFD485;
    padding: 0.5%;
    margin-left: 1%;
    /*text-align: center;*/
    color:black;
}
.my_button{
    width: auto;
    outline: 0;
    border: 1px solid #AFD485;
    border-radius: 0.8em;
    padding: 0.5%;
    margin-left: 1%;
    background-color: white;
    color: #AFD485;
    cursor: pointer;
    font-weight:bold;
    font-size:large;
}

.my_reserve{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
  }

.my_date{
    width: auto;
    border: 1 solid #AFD485;
    border-bottom:1 solid #AFD485;
    padding: 0.5%;
    margin-left: 1%;
    /*text-align: center;*/
    color:black;
}

/*reserve*/
.reserve_all{
    background-color: whitesmoke;
    border-radius: 0.5em;
}
.reserve_title{
    text-align: center;
    width: auto;
}

#reserve_return{
    color: #4F6228;
    font-size:x-large;
}

.reserve_img{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    justify-content: center;
}

.reserve_detailimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}