/*all*/
.all_button{
    width: 20%;
    height: 10%;
    border: 0;
    outline: 0;
    border-radius: 2%;
    background-color: #AFD485;
}
/*QNA*/
.qna_form{
    width: 100%;
    height: 100%;
}

.qna_input{
    border: none;
    border-bottom: 1px solid black;
}

.qna_textarea{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid black;
}


/*Comment*/
.comment_box{
    border: 1px solid black;
    padding: 5%;
}

.comment_textarea{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid black;
}

/*Comment2*/
.comment2_box{
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #dcdcdc;
    border-radius:5%;
}

/*Profile*/
.profile_box{
    background-color: #faf9f9;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

/*Mycomment*/
.mycommet_box{
    margin-bottom: 2%;
}

/*Myqna*/
.myqna_box{
    margin-bottom: 2%;
}

/*공통*/
.enter_space{
    white-space: pre-wrap;
}
